.reason{
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    border-radius: 15px;
    min-width: 46%;
    margin-left: 2%;
    margin-right: 2%;  
    background: url("https://img.freepik.com/premium-vector/seamless-pattern-with-colorful-dog-paws-cute-and-childish-design-for-fabric-textile-wallpaper-be_197792-2251.jpg?w=740"); 
    border-color: #fbeced;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
}
.reasonHeaders{
    box-shadow: 5px 5px 15px 0 #a4a8ab;
    background: #fbeced;
    text-align: center;
    font-weight: bold;
    margin-block: 3%;
}
.exercises{
    margin-top: 2%;
    
}
header{
    margin-top: 4%;
    margin-bottom: 4%;
    min-height: 100px;
    text-align: center;
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
}
.row{
    justify-content: space-evenly;
}

ul {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
 }
 
.text{
    text-align: center;
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
}
.h{
    margin-top: 4%;
    margin-bottom: 2%;
}

.pop {
    background: #fbeced;
    box-shadow: 5px 5px 15px 0 #a4a8ab;
    padding: 3%;
}

.popo {
    background: #fbeced;
    box-shadow: 5px 5px 15px 0 #a4a8ab;
    padding: 3%;
    margin-block-end: -24%;
    position: relative;
    left: 20px; 

}

.left{
    position: relative; 
    width: 100%;
}

p{
    text-align: justify;
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
}
li{
    text-align: justify;
    font-family:'PF Regal Display Pro Bold','Times New Roman',serif;
}
footer{
    background-color:rgb(255, 211, 245);
    min-height: 100px;
    border-style: solid;
    border-color: rgb(255, 211, 245);
}
.footerText{
    text-align: center;
    margin-top: 0em; 
    margin-bottom: 0em;
}
.footerDiv{
    margin-top: 1%;
}

@media screen and (max-width: 768px) {
    p{
      font-size: 18px;
    }
    li{
        font-size: 17px;
    }
    h1{
        font-size: 36px;
    }
    .h{
        font-size: 24px;
    }
    .reason{
        min-width: 100%;
    }
    .reason p{
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
    p{
      font-size: 22px;
      color:#2e3339
    }
    li{
        font-size: 21px;
    }
    h1{
        font-size: 48px;
    }
    .h{
        font-size: 30px;
    }
    .reason p{
        font-size: 18px;
    }
}
@media screen and (min-width: 1280px) {
     p{
       font-size: 24px;
    }
    li{
        font-size: 23px;
    }
    h1{
        font-size: 54px;
    }
    .h{
        font-size: 40px;
    }
    .reason p{
        font-size: 20px;
    }
}
@media screen and (min-width: 1920px) {
     p{
        font-size: 26px;
    }
    li{
        font-size: 25px;
    }
    h1{
        font-size: 70px;
    }
    .h{
        font-size: 40px;
    }
    .reason p{
        font-size: 22px;
    }
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

a:active{
    color: #212529;
}
a:visited{
    color: #212529;
}
